.chordTitle {
  margin-top: 0;
}

.voteOption {
  float: none;
  height: 40px;
}

.voteOption .chordName  {
  float: left;
}
.voteOption .voteCount  {
  float: right;

  width: 30px;
  height: 26px;

  border: solid 3px #ffffff;
  border-radius: 30px;

  text-align: center;
  vertical-align: middle;

  padding-top: 4px;
}

.voteWinner {
  position : relative;
  text-align: center;
}